/* CONTENEDOR */
.page {
  background: #171615;
  min-height: 100vh;
  padding: 40px 0;
  text-align: center;
  padding: 0 1.5rem;      
  max-width: 1200px;
  margin: 1.5rem auto 0;
}

/* título principal */
.pageTitle {
  font-family: "Minecraft Ten", sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 1rem 0 2rem;
}

/* subtítulos de sección */
.sectionTitle {
  font-family: "Minecraft Ten", sans-serif;
  font-size: 24px;
  margin: 2.5rem 0 1rem;
  color: #ffffff;
  text-align: left;        
  border-bottom: 2px solid #52a535;
  padding-bottom: 0.4rem;
}

/*  FORMULARIO */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.input {
  flex: 1 1 150px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #282523;
  color: #fff;
}

.input:focus {
  outline: none;
  border-color: #28a745; /* verde app */
}

.btn {
  padding: 8px 25px;
  background: #28a745;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

/* LISTADO */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background: #1e1c1b;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.status {
  color: #fff;
}

/* imagen miniatura */
.thumb {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-bottom: 1px solid #333;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0.6rem;
}