/* SLIDER */
:global(.carousel-caption) {
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%);
  color: #fff;
  background: transparent;
  pointer-events: none;
}

:global(.carousel-caption h2) {
  font-family: "Minecraft Ten", sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin: 0 0 0.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  
}

:global(.carousel-caption p) {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Imagen del carrusel */
.carouselFull  { width: 100vw; margin-left: calc(-50vw + 50%); }
.carouselImage { width: 100vw; height: 35vh; object-fit: cover; }

/* CATEGORÍAS */
.catSection {
  background: #171615;
  padding: 60px 40px;
  text-align: center;
}

.catTitle {
  font-family: "Minecraft Ten", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin: 20px 0 30px;
}

.catGrid {
  display: flex;
  justify-content: center;   /* tarjetas agrupadas y centradas */
  gap: 40px 60px;            /* mismo espacio que ya tenías     */
  max-width: 1200px;
  margin: 0 auto; 
}

.catCard {
  background: #171615;
  color: #fff;
  border-radius: 10px;
  height: 350px;
  padding: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s;
}

.catCard:hover {
  box-shadow: 0 8px 16px rgba(107, 101, 98, 0.6);
}

.catImg {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 15px;
}

.catCard h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 0px;
}

.catCard p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #ccc;
  margin: 0;
}
