.breadcrumb {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 25px;
}

.link {
  color: #52A535;              
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.sep {
  margin: 0 6px;
  color: #666;
}

.current {
  color: #fff;                   
}